html,
body {
    margin: 0;
}

* {
    box-sizing: border-box;
    background-color: #C2C5AA;
}

.grid_container_blog {
    display: grid;
    grid-template-columns: 0.5fr 4fr 0.5fr;
    grid-template-rows: auto;
    justify-items: stretch;
}

nav {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.nav_layout {
    display: grid;
    align-items: center;
    grid-template-columns: 2;
    grid-template-rows: 1;
}

.logo_container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: start;

}

.logo {
    max-width: 8.2em;
    max-height: 7.1em;
    margin: 1em;
    align-self: center;
}

.nav_links {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
}

.nav_item {
    margin: 1em;
    font-size: 1.5em;
}





.carousel {
    grid-column: 1 / 4;
    grid-row: 2 / 3;

}





.panel_blog {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: grid;
    justify-content: stretch;
    grid-template-columns: 3fr 1fr;
    width: 100%;
}

.panel_l_margin_blog {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

}

.panel_r_margin_blog {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}





.main_blog {
    grid-column: 1 / 2;
    display: inline-block;
    align-items: center;
    justify-content: stretch;

}

.posts_body_blog {
    display: grid;
    grid-template-columns: 0.1fr 2fr 0.1fr;
    width: 100%;
}

.l_margin_blog {
    grid-column: 1 / 2;
}

.panel_body_blog {
    grid-column: 2 / 3;
    justify-items: center;
}

.r_margin_blog {
    grid-column: 3 / 4;
}


.blog_post_container {
    display: grid;
    grid-template-rows: auto;
    width: 100%;
    margin-top: 2em;
    justify-items: center;
}

.panel_body_blog_title {
    grid-row: 1 / 2;
    font-family: Cormorant Garamond, serif;
    font-size: 2em;
    font-weight: bold;
    place-self: center;
    margin-bottom: 0.5em;
}

.panel_body_blog_photo {
    grid-row: 2 / 3;
    place-self: center;
    margin-bottom: 1em;



}

.pic_blog_mini_styling {
    width: 550px;
    max-height: 400px;
    object-fit: cover;
    border: 4px solid #000000;
    outline: 2px solid #000000;
    outline-offset: -10px;

}



.panel_body_blog_tags {
    grid-row: 3 / 4;
    place-self: center;
    margin-bottom: 1em;
    font-family: Josefin Sans, sans-serif;
    font-size: 1.2em;
}

.panel_body_blog_intro {
    grid-row: 4 / 5;
    place-self: center;
    margin-bottom: 1em;
    width: 80%;
    font-family: Josefin Sans, sans-serif;
}

.panel_body_blog_button {
    grid-row: 5 / 6;
    place-self: center;
    margin-top: 2em;
    margin-bottom: 2em;
    justify-self: center;
    align-self: center;
    background-color: #A4AC86;
}

.panel_body_blog_button_styling {
    font-size: 1.2em;
    padding: 0.3em 1em;
    border: 3px solid #000000;
    outline: 1px solid #000000;
    outline-offset: -6px;
    background-color: #FFFFFF;
}


.panel_body_blog_lines {
    grid-row: 6 / 7;
    place-self: center;
    margin-bottom: 2em;
}








.column_blog {
    grid-column: 2 / 3;
    background-color: #A4AC86;
    align-self: start;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    justify-content: stretch;
    align-items: start;
    border: 3px solid #000000;
    outline: 1px solid #000000;
    outline-offset: -6px;

}

.author_column {
    grid-row: 1 / 2;
    justify-self: center;
    padding: 0.30em 1em;
    background-color: #A4AC86;
    display: grid;
    grid-template-rows: 5fr;
    justify-items: center;

}

.categories_column {
    grid-row: 2 / 3;
    justify-self: center;
    padding: 0.30em 1em;
    background-color: #A4AC86;
    display: grid;
    grid-template-rows: 3fr;
    justify-items: center;
    align-items: start;

}

.search_column {
    grid-row: 3 / 4;
    justify-self: center;
    padding: 0.30em 1em;
    background-color: #A4AC86;
    display: grid;
    grid-template-rows: 4fr;
    justify-items: center;
}



.title {
    justify-self: center;
}



h1,
.font1,
.button_styling,
.button_styling_column,
.input_styling_column {
    font-family: Cormorant Garamond, serif;

}

h1 {
    font-size: 3em;
}

h2,
h3,
.font2 {
    font-family: Josefin Sans, sans-serif;
}

h3 {
    margin-top: 0.7em;
    margin-bottom: 0;
}





.author_title_column,
.categories_title_column,
.search_title_column {
    font-family: Cormorant Garamond, serif;
    font-size: 1.5em;
    font-weight: 400;
    background-color: #A4AC86;

}

.author_title_column,
.categories_title_column,
.search_title_column {
    grid-row: 1 / 2;
}

.panel_pic_container_column {
    grid-row: 2 / 3;
    padding: 0.5em 1em;
    background-color: #A4AC86;
}

.person_column {
    max-width: 7em;
    max-height: 7em;
    border-radius: 50%;
    border: 4px solid #000000;
    outline: 2px solid #000000;
    outline-offset: -8px;

}

.text_container_column {
    grid-row: 3 / 4;
    background-color: #A4AC86;
    text-align: center;
    line-height: 1.5em;
}




.button_column {
    grid-row: 4 / 5;
}

.button_search_column {
    grid-row: 3 / 4;
    text-align: center;
}

.button_column,
.button_search_column {
    margin-top: 1em;
    justify-self: center;
    align-self: center;
    background-color: #A4AC86;

}

.button_styling_column {
    font-size: 1em;
    padding: 0.3em 1em;
    border: 3px solid #000000;
    outline: 1px solid #000000;
    outline-offset: -6px;
    background-color: #FFFFFF;
}

.double_lines_column {
    grid-row: 5 / 6;
    color: #000000;
    width: 100%;
    background-color: #A4AC86;
    margin-top: 1.5em;

}

.double_lines_search_column {
    grid-row: 4 / 5;
    color: #000000;
    width: 100%;
    background-color: #A4AC86;
    margin-top: 1.5em;
    margin-bottom: 6em;
}


.hr_1_column {
    color: #000000;
    border-style: solid;
    background-color: #000000;
    height: 2px;
    width: 90%;
    margin: 0 auto;

}

.hr_2_column {
    color: #000000;
    border-style: solid;
    background-color: #000000;
    height: 1px;
    width: 70%;
    margin: 1px auto;

}

.categories_container_column {
    grid-row: 2 / 3;
    background-color: #A4AC86;
    line-height: 1.5em;
}

.category {
    background-color: #A4AC86;
}


#searchForm {
    grid-row: 2 / 3;
    background-color: #A4AC86
}


.input_panel_column {
    margin-top: 0.5em;
}

.input_styling_column {
    font-size: 1.5em;
    color: #000000;
    padding: 0.3em 0.5em;
    border: 3px solid #000000;
    outline: 1px solid #000000;
    outline-offset: -6px;
    background-color: #FFFFFF;
    width: 100%;
}

.input_styling_column::placeholder {
    color: #A4AC86;
    font-weight: 400;

}